.star {
  z-index: -3;
  position: absolute;
  font-size: 0.5rem;
  filter: drop-shadow(0 0 0.2rem yellow);
}

#star1 {
  left: 5%;
  top: 10%;
}

#star2 {
  left: 20%;
  top: 25%;
}

#star3 {
  left: 15%;
  top: 54%;
}

#star4 {
  left: 11%;
  top: 73%;
}

#star5 {
  left: 89%;
  top: 31%;
}

#star6 {
  left: 80%;
  top: 48%;
}

#star7 {
  left: 94%;
  top: 63%;
}

#star8 {
  left: 85%;
  top: 86%;
}
