@font-face {
  font-family: Astropolis;
  src: url(Astropolis.ttf);
}

body {
  margin: 0;
  font-size: 2vh;
  background: #272727;
}

.star {
  z-index: -3;
  position: absolute;
  font-size: 0.5rem;
  filter: drop-shadow(0 0 0.2rem yellow);
}

@media screen and (min-width: 600px) {
  body {
    font-size: 1vh;
  }
}

#saucer {
  font-size: 200px;
  top: 0%;
  position: absolute;
  animation: fly 8s infinite linear;
  cursor: pointer;
}

@keyframes fly {
  0% {
    font-size: 50px;
    left: 42%;
    z-index: -1;
  }
  24% {
    z-index: -1;
    font-size: 100px;
    top: 0%;
    left: 10%;
  }
  25% {
    font-size: 100px;
    top: 0%;
    left: 10%;
    z-index: 1;
  }
  50% {
    font-size: 200px;
    top: -5%;
    left: 42%;
    z-index: 1;
  }
  74% {
    font-size: 100px;
    top: 0%;
    left: 75%;
    z-index: 1;
  }
  75% {
    font-size: 100px;
    left: 75%;
    z-index: -1;
  }
  100% {
    font-size: 50px;
    left: 42%;
    z-index: -1;
  }
}

.light-up {
  filter: drop-shadow(0 0 3rem blue);
}

#centre {
  position: absolute;
  z-index: 0;
  color: #ffffff;
  opacity: 0.9;
  text-align: center;
  width: 100%;
  margin-left: 0%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 600px) {
  #centre {
    width: 50%;
    margin-left: 25%;
  }
}

#centre a {
  color: #f0f0f0;
}

#title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem 0rem;
  flex-direction: row;
}

#centre h1 {
  font-size: 5rem;
  font-family: Astropolis;
  animation: glow 4s infinite;
  margin: 0rem;
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 0.25rem green);
  }
  50% {
    filter: drop-shadow(0 0 1.1rem green);
  }
  100% {
    filter: drop-shadow(0 0 0.25rem green);
  }
}

#centre h2 {
  font-size: 2rem;
  font-family: monospace;
  margin-top: 0rem;
}

h3 {
  font-size: 1.8rem;
  font-family: monospace;
  margin-top: 0rem;
}

#centre p {
  font-size: 1.5rem;
  font-family: monospace;
  padding: 0rem 1rem;
  margin-top: 0rem;
}

#join {
  color: green;
  animation: glow 2s infinite;
}

input,
#subscribe {
  font-family: monospace;
  font-size: 1.5rem;
  margin: 0rem 0.5rem;
  animation: glow 2s infinite;
}

button {
  border: none;
  color: #272727;
  background-color: white;
  font-family: monospace;
  font-size: 1.5rem;
  margin-left: 1rem;
}

button:hover {
  background-color: #272727;
  color: white;
}

#subscribe {
  margin-top: 0.5rem;
  cursor: pointer;
  background-color: green;
  color: #ffffff;
  border: none;
}

img {
  width: 100%;
  border: solid 2px white;
  border-radius: 5px;
}

video {
  width: 100%;
  max-width: 800px;
}

#introduction {
  width: 100%;
}

a,
ul,
li {
  width: fit-content;
  margin-top: 0rem;
  font-family: monospace;
  font-size: 1.5rem;
}

ul {
  margin-bottom: 0rem;
}

h2 a {
  font-size: 2rem;
}

@media screen and (min-width: 600px) {
  #centre.video-container {
    width: 80%;
    margin-left: 10%;
  }
}

#mailing-list-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
